module zabbix-server-custom 1.0;

require {
        type tmp_t;
        type zabbix_t;
        class sock_file unlink;
        class file { unlink write };
}

#============= zabbix_t ==============
allow zabbix_t tmp_t:file { unlink write };
allow zabbix_t tmp_t:sock_file unlink;