module zabbix_agent 1.0;
require {
        type kernel_t;
        type user_home_t;
        type devlog_t;
        type sudo_exec_t;
        type zabbix_agent_t;
        class sock_file write;
        class capability { audit_write sys_resource };
        class unix_dgram_socket { connect create sendto };
        class file { execute execute_no_trans ioctl open read };
        class netlink_audit_socket { create nlmsg_relay };
        type zabbix_agent_t;
        class unix_dgram_socket write;
        class netlink_audit_socket write;
        type NetworkManager_t;
        type zabbix_agent_t;
        type initrc_t;
        class process { noatsecure rlimitinh siginh };
        class netlink_audit_socket read;
        type unconfined_t;
        type init_t;
        type auditd_t;
        type systemd_logind_t;
        type gssproxy_t;
        type syslogd_t;
        type httpd_t;
        type unconfined_service_t;
        type irqbalance_t;
        type tuned_t;
        type udev_t;
        type sshd_t;
        type crond_t;
        type dhcpc_t;
        type lvm_t;
        type zabbix_agent_t;
        class process getattr;
        class capability { dac_override dac_read_search sys_ptrace };
        type ntpd_t;
        type postfix_master_t;
        type mongod_t;
        type qpidd_t;
        type celery_t;
        type policykit_t;
        type initrc_t;
        type system_dbusd_t;
        type postfix_pickup_t;
        type postfix_qmgr_t;
        type zabbix_agent_t;
        type streamer_t;
        class process getattr;
        class netlink_tcpdiag_socket create;
        type postfix_showq_t;
        type zabbix_agent_t;
        class process getattr;
        class netlink_tcpdiag_socket setopt;
}

#============= zabbix_agent_t ==============
allow zabbix_agent_t devlog_t:sock_file write;
allow zabbix_agent_t kernel_t:unix_dgram_socket sendto;
allow zabbix_agent_t self:capability { audit_write sys_resource };
allow zabbix_agent_t self:netlink_audit_socket { create nlmsg_relay };
allow zabbix_agent_t self:unix_dgram_socket { connect create };
allow zabbix_agent_t sudo_exec_t:file { execute execute_no_trans };
allow zabbix_agent_t user_home_t:file { execute execute_no_trans ioctl open read };
allow zabbix_agent_t self:netlink_audit_socket write;
allow zabbix_agent_t self:unix_dgram_socket write;
allow NetworkManager_t initrc_t:process { noatsecure rlimitinh siginh };
allow zabbix_agent_t self:netlink_audit_socket read;
allow zabbix_agent_t auditd_t:process getattr;
allow zabbix_agent_t crond_t:process getattr;
allow zabbix_agent_t dhcpc_t:process getattr;
allow zabbix_agent_t gssproxy_t:process getattr;
allow zabbix_agent_t httpd_t:process getattr;
allow zabbix_agent_t init_t:process getattr;
allow zabbix_agent_t irqbalance_t:process getattr;
allow zabbix_agent_t lvm_t:process getattr;
allow zabbix_agent_t self:capability { dac_override dac_read_search sys_ptrace };
allow zabbix_agent_t sshd_t:process getattr;
allow zabbix_agent_t syslogd_t:process getattr;
allow zabbix_agent_t systemd_logind_t:process getattr;
allow zabbix_agent_t tuned_t:process getattr;
allow zabbix_agent_t udev_t:process getattr;
allow zabbix_agent_t unconfined_service_t:process getattr;
allow zabbix_agent_t unconfined_t:process getattr;
allow zabbix_agent_t celery_t:process getattr;
allow zabbix_agent_t initrc_t:process getattr;
allow zabbix_agent_t mongod_t:process getattr;
allow zabbix_agent_t ntpd_t:process getattr;
allow zabbix_agent_t policykit_t:process getattr;
allow zabbix_agent_t postfix_master_t:process getattr;
allow zabbix_agent_t postfix_pickup_t:process getattr;
allow zabbix_agent_t postfix_qmgr_t:process getattr;
allow zabbix_agent_t qpidd_t:process getattr;
allow zabbix_agent_t self:netlink_tcpdiag_socket create;
allow zabbix_agent_t self:process getattr;
allow zabbix_agent_t streamer_t:process getattr;
allow zabbix_agent_t system_dbusd_t:process getattr;
allow zabbix_agent_t postfix_showq_t:process getattr;
allow zabbix_agent_t self:netlink_tcpdiag_socket setopt;