
module zabbix-server-ipc-unlink 1.0;

require {
        type tmp_t;
        type zabbix_t;
        class sock_file unlink;
}

#============= zabbix_t ==============
allow zabbix_t tmp_t:sock_file unlink;